- description ''
- keywords ''

.hero-unit#page-gallery

  %h1= title 'Galeria Zdjęć'

  -#%section.gallery
    - (1..7).each do |i|
      %article.target(id=i)
        %figure
          = image_tag "gallery/t#{i}.jpg"
    %nav
      %ul.nav.main
      - (1..7).each do |i|
        %li= link_to "#{i}","\##{i}",
          class: "btn btn-large btn-primary"
