.hero-unit#page-parent

  %h1= title 'Strefa Rodzica'

  %h2 Kącik Dociekliwego Rodzica

  %p
    Dociekliwym rodzicom, którzy w trosce o rozwój swych pociech, poszukują coraz to nowych, wartościowych informacji z dziedziny pedagogiki i psychologii, polecamy takie oto strony:
  %ul.download
    %li
      %a(href="http://www.psychologiadziecka.org"
        rel="nofollow") Portal Psychologia Dziecka
    %li
      %a(href="http://www.rodzice.pl"
        rel="nofollow") Rodzice.pl
    %li
      %a(href="http://www.montessori-centrum.pl/stowarzyszenie/"
        rel="nofollow") Centrum Montessori
    %li
      %a(href="http://dzieci.pl/lokalizacja.html"
        rel="nofollow")Dzieci.pl

  %p Życzymy wartościowej, wciągającej lektury!


  %hr

  %h2 Wszystkie potrzebne dokumenty

  %h3 Pliki do pobrania

  %ul.download
  - @files.each do |f|
    %li
      %a(href="#{@folder}/#{f[0]}"
        class="downloadlink"
        data-prefix="#{File.extname(f[0]).gsub(/[.]/,'')}"
        )#{f[1]}

- description 'Wszystkie najważniejsze informacje dla rodziców którzy planują wybrać żłobek dla swoich dzieci.'
- keywords    'strefa, rodzic, dokumenty, umowa, procedura, regulamin, upoważnienie, odbieranie, przyjęcie, odbiór'