- description ''
- keywords ''

= render 'aboutheader'

.hero-unit#page-about

  %h1= title 'Pedagogika Montessori' # 'Pedagogika M. Montessori'

  %h2 Co czerpiemy z pedagogiki Marii Montessori?

  .pull-right
    %blockquote
      %p Pobudzać życie, pozostawiając je przy tym swobodnym, takie jest zadanie wychowawcy.
      %small Maria Montessori
  .pull-right
    %blockquote
      %p Przyszły pedagog, który będzie się interesował sprawami ludzkości, musi wytworzyć między sobą, a tymi, których obserwuje, silny łącznik.
      %small Maria Montessori
    %blockquote
      %p Dziecko może dobrze się rozwijać tylko wtedy, gdy pomoc udzielana jest mu w stosownej formie.
      %small Maria Montessori

    %blockquote
      %p Naszym, dorosłych, zadaniem, jest nie nauczać, ale wspierać umysł dziecka w pracy nad samorozwojem.
      %small Maria Montessori

    %blockquote
      %p Wpatrywałam się w nie, doszukując się zagadki duszy dziecięcej, która była mi nieznana; stałam wśród nich, pogrążona w rozmyślaniach i zaskoczona odkryciem, że dzieci dążą do wiedzy instynktownie i bynajmniej nie dbają o zabawę bezmyślną. O, jakaż jest głębia ducha ludzkiego!
      %small Maria Montessori



  %p Towarzysząc Państwa dzieciom w codziennym wzrastaniu, czerpiemy z założeń i filozofii Pedagogiki Marii Montessori. Wierzymy bowiem w wartość pobudzania dzieci do samodzielności, niezależności i wewnątrzsterowności.

  %p Pragniemy podążać za dziećmi, wnikliwie je obserwować, dostosowywać nasze oddziaływania do ich indywidualnych predyspozycji, potrzeb oraz preferencji. U nas mają szansę uczestniczyć w montessoriańskiej pracy własnej, której długość dostosowujemy do ich możliwości i wieku. Dzieci przesypują ryż, przelewają wodę, uczą się prawidłowego chwytu, ćwiczą koncentrację uwagi i samokontrolę. My – nauczycielki czuwamy, ale im nie przeszkadzamy. Proponujemy dzieciom zajęcia w kręgu, lekcje ciszy, a przede wszystkim wiele okazji do samodzielnej eksploracji i odkrywania świata, jak również do doskonalenia umiejętności samoobsługowych. Oczywiście szanujemy ich potrzebę odpoczynku, wewnętrzną odporność i do niczego maluszków nie zmuszamy!

  %p
    Załączyliśmy artykuły pochodzące z Polskiego Intstytutu Montessori, do zapoznania z którymi szczerze Państwa zapraszamy. Warto też, naszym zdaniem, odwiedzić stronę www.montessori.pl oraz stronę
    = succeed "." do
      %a{href:"http://www.montessori.info.pl", title:"www.montessori.info.pl"}Polskiego Instytutu Montessori


  %blockquote
    %p Znikła dawna nauczycielka, która z wielkim trudem utrzymywała porządek, polegający na unieruchomieniu dzieci, i zrywała sobie płuca przez rozmowy bez końca. Została ona zastąpiona przez przyrządy do nauczania, dzięki którym uczeń może naprawiać swe błędy i sam się kształcić. Cierpliwa i milcząca nauczycielka kieruje jedynie samodzielną pracą dzieci.
    %small Maria Montessori

  %hr
  %p Pliki do pobrania
  %ul.download
  - @files.each do |f|
    %li
      %a(href="#{@folder}/#{f[0]}"
        class="downloadlink"
        data-prefix="#{File.extname(f[0])}"
        )#{f[1]}