-# = provide(:title, 'Skontaktuj się z nami!')
- title 'Skontaktuj się z nami!'
.hero-unit#page-contact
  %h1= title

  #lol.pull-right
    .border
      %p.small Po wysłaniu trafi do Twojej skrzynki kopia przesłanego zapytania.
    .border
      %p.small
        Pamiętaj że zawsze możesz do nas zadzwonić, z chęcią odpowiemy na wszystkie pytania!
      %br
      %p
        %strong.tab Dyrektor
        tel. 881 589 599
      %p
        %strong.tab Właściciel
        tel. 505 106 699
    -#.border.phone

  .row
    .span5.offset1
      = form_for @message, :url => contact_path do |form|
        %fieldset.fields
          .field
            = form.label :name,
              "Imię i Nazwisko"
            = form.text_field :name
          .field
            = form.label :email,
              "Twój adres e-mail"
            = form.text_field :email
          .field
            = form.label :subject,
              "Temat"
            = form.text_field :subject
          .field
            = form.label :body,
              "Treść zapytania"
            = form.text_area :body
        %fieldset.actions
          -# = link_to 'Wyślij <i class="icon-envelope icon-large"></i>'.html_safe, root_path
          -# = form.submit 'Wyślij <i class=\'icon-envelope icon-large\'></i>'.html_safe,            class: "btn btn-large btn-primary"
          .center
            = form.button '<i class=\'icon-envelope\'></i> &nbsp; Wyślij'.html_safe,
              class: "btn btn-large btn-primary"
