%header.navbar.navbar-fixed-top
  -# .navbar-inner
    -# .logo
    = link_to image_tag("top.jpg", alt: "Rails"), 'http://rubyonrails.org/'
  .container
    .pull-left
      <div class="addthis_toolbox addthis_32x32_style addthis_floating_style">
      <a class="addthis_button_facebook_follow" addthis:userid="ZlobekKubusiowyRaj"></a>
      <a class="addthis_button_google_follow" addthis:userid="113138759715163009592"></a>
      <a class="addthis_button_more"></a>
      -# <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      </div>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5048def73aa43188"></script>
    = menu_link_to 'static_pages', 'home',
      'Niepubliczny Żłobek Kubusiowy Raj <i class="icon-home icon-large"></i>'.html_safe,
      root_path,
      id: "logo",
      title: "Strona Główna"

    -#
      -# <a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:action="recommend"></a>
      -# <a class="addthis_button_google_plusone_badge" g:plusone:href="https://plus.google.com/113138759715163009592/"></a></div>
      -# = render 'layouts/google_badge'
      -#<a href="https://plus.google.com/113138759715163009592" rel="publisher">Znajdziesz nas w Google+</a>
      -# halfopacity
      -# <div class="fb-like" data-href="http://www.zlobekkubusiowyraj.pl/" data-send="true" data-width="400px" data-show-faces="true" data-font="arial"></div>
      -# \ <iframe src="http://www.facebook.com/plugins/like.php?href=www.zlobekkubusiowyraj.pl" scrolling="no" frameborder="0" style="border:none; width:75px; height:25px"><iframe>
    %nav
      %ul.nav.main
        -# %li= link_to "Strona Główna", root_path
        %li= menu_link_to 'static_pages', 'about',
          'O nas',
          about_path,
          id: 'menu-about'
        %li= menu_link_to 'static_pages', 'parentsite',
          "Strefa Rodzica",
          strefarodzica_path,
          title: "Wszelkie potrzebne informacje dla rodziców",
          id: "menu-parent"
        %li= menu_link_to 'static_pages', 'dayplan',
          "Plan Dnia",
          plandnia_path,
          title: "Szczegółowy plan dnia dla naszych pociech",
          id: "menu-plan"
        %li= menu_link_to 'static_pages', 'pricelist',
          "Opłaty",
          oplaty_path,
          title: "Wszelkie opłaty naliczane przez nasz żłobek",
          id: "menu-price"
        %li= menu_link_to 'static_pages', 'gallery',
          "Galeria Zdjęć",
          galeria_path,
          title: "Zdjęcia z naszego żłobka",
          id: "menu-photos"
        %li= menu_link_to 'static_pages', 'contact',
          "Kontakt",
          contact_path,
          id: "menu-contact"

        -# if signed_in?
          %li= link_to "Users",       users_path
          %li.dropdown#fat-menu
            <a class="dropdown-toggle" href="#" data-toggle= "dropdown">Account <b.caret</b></a>
            %ul.dropdown-menu
              %li= link_to "Profile", current_user
              %li= link_to "Settings",edit_user_path(current_user)
              %li.divider
              %li
                = link_to "Sign out", signout_path, method: "delete"
        -# else
          -# %li= link_to "Logowanie",     signin_path
          -# %li.nobg= link_to '<i class ="icon-signin icon-large halfopacity"></i>'.html_safe,     signin_path

-#%nav
  %ul.nav
    %li= link_to "G", galeria_path, title: "Zdjęcia z naszego żłobka"
    %li= link_to "G", galeria_path, title: "Zdjęcia z naszego żłobka"
