%header.navbar.navbar-fixed-top
  -# .navbar-inner
    -# .logo
    = link_to image_tag("top.jpg", alt: "Rails"), 'http://rubyonrails.org/'
  .container
    = raw(link_to 'Żłobek Kubusiowy Raj <i class="icon-home icon-large"></i>'.html_safe,
      root_path,
      id: "logo",
      title: "Strona Główna")
    -# halfopacity
    <div class="fb-like" data-href="https://www.zlobekkubusiowyraj.pl/" data-send="true" data-width="450" data-show-faces="false" data-font="arial"></div>
    %nav
      %ul.nav.vertical
        -#.nav.pull-right
        -# %li= link_to "Strona Główna", root_path
        %li= link_to "O nas",
          about_path,
          id: "menu-about"
        %li= link_to "Strefa Rodzica",
          strefarodzica_path,
          title: "Wszelkie potrzebne informacje dla rodziców",
          id: "menu-parent"
        %li= link_to "Plan Dnia",
          plandnia_path,
          title: "Szczegółowy plan dnia dla naszych pociech",
          id: "menu-plan"
        %li= link_to "Opłaty",
          oplaty_path,
          title: "Wszelkie opłaty naliczane przez nasz żłobek",
          id: "menu-price"
        %li= link_to "Galeria Zdjęć",
          galeria_path,
          title: "Zdjęcia z naszego żłobka",
          id: "menu-photos"
        %li= link_to "Kontakt",
          contact_path,
          id: "menu-contact"

        -# if signed_in?
          %li= link_to "Users",       users_path
          %li.dropdown#fat-menu
            <a class="dropdown-toggle" href="#" data-toggle= "dropdown">Account <b.caret</b></a>
            %ul.dropdown-menu
              %li= link_to "Profile", current_user
              %li= link_to "Settings",edit_user_path(current_user)
              %li.divider
              %li
                = link_to "Sign out", signout_path, method: "delete"
        -# else
          -# %li= link_to "Logowanie",     signin_path
          -# %li.nobg= link_to '<i class ="icon-signin icon-large halfopacity"></i>'.html_safe,     signin_path
-#%nav
  %ul.nav
    %li= link_to "G", galeria_path, title: "Zdjęcia z naszego żłobka"
    %li= link_to "G", galeria_path, title: "Zdjęcia z naszego żłobka"