!!!
%html
  %head
    = display_meta_tags site: 'Niepubliczny Żlobek Kubusiowy Raj'
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    -#= render 'layouts/bootstrap_gallery'
    = csrf_meta_tags
    = render 'layouts/shim'
    <link href="https://plus.google.com/113138759715163009592" rel="publisher" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
  %body
    = render 'layouts/header'
    .container
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key}")
      -# .hero-unit
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
